@import url('/style/style.css');


.register {
    margin: var(--spacing-36) auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-36);

}

.register_title {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;

    font-size: var(--font-jumbo);

}

.register_text {
    font-family: var(--alternative-font);
    text-align: center;
    font-weight: 500;
    font-size: 32px;
}

.register_form {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;


}

.register_items {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
}

.register_item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    align-items: center;
}

.register_label {
    font-size: var(--font-large);
    font-weight: 400;
    letter-spacing: 1px;
    color: #000000;
}

.register_input {
    padding-bottom: 0.5rem;
    border: none;
    border-bottom: 2px solid #ff3333;
    font-size: var(--font-medium);
    outline: none;
    margin-left: var(--spacing-16);
}

.register_input::placeholder {

    color: #B9B9B9;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

.register_input[name="pass"]::placeholder {

    color: #E0E0E0;
    font-size: var(--font-medium);
    letter-spacing: 1.5px;
}

.register_link {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.link_acept {
    display: flex;
    align-items: center;
    font-size: var(--font-medium);
    gap: var(--spacing-8);
}

.link_term {
    text-decoration: none;
    color: var(--secondary-solid);
    font-family: inherit;
}

.link_term:hover {
    color: var(--dark-solid);
}