*{
    margin: 0;

}
body{
    font-family: 'Raleway', sans-serif;
}
header{
    background-color: #30343f;
}
footer{
    background-color: #30343f;
}
table{
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
}