@import url('./style.css');

/* NUEVOS INGRESOS*/


.hero {
    background-image: url(../img/funkos-banner.webp);
    padding: var(--spacing-128);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 0, 0, 0);
    backdrop-filter: blur(2px) Brightness(0.9);

}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;
    z-index: 1;
    position: relative;
}



.hero__title {
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    color: var(--light-font-solid);
}

.hero__text {
    font-family: var(--alternative-font);
    font-size: var(--font-medium);
    color: var(--light-font-solid);
}

.hero__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--light-bg-solid);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.hero__content a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

/* nuevos lanzamientos */




.slider__title {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;


}



.glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;

}

.card-item__link {
    text-decoration: none;

}

.card-item__cover {
    display: flex;
    position: relative;


}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.card-item__cover img {
    animation: fade .7s;

}

.card-item__img--front {
   
    max-width: 301px;
    max-height: 301px;
    object-fit: cover;
    }
    
    
    .card-item__img--back {
        display: none;
        max-width: 301px;
    max-height: 301px;
    object-fit: cover;
    }
    
  

.card-item__cover:hover .card-item__img--back {
    display: block;


}

.card-item__cover:hover .card-item__img--front {
    display: none;


}

.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
}

.new {

    right: 0;
    position: absolute;
    background: var(--primary-solid);
    color: var(--light-font-solid);
    font-family: 'Inter', sans-serif;
    font-size: var(--font-xsmall);
    font-weight: 500;

    padding: var(--spacing-8) var(--spacing-12);

}



.card-item__content {
    display: flex;
    gap: var(--spacing-12);
    flex-direction: column;
    padding: var(--spacing-16);

}

.card-item__licence {
    font-family: 'Inter', sans-serif;
    color: #333333;
    font-weight: 500;
    font-size: var(--font-xsmall);
    line-height: 17px;
}

.card-item__name {

    font-size: var(--font-medium);
    font-weight: 700;


}

.card-item__price {
    font-family: 'Inter', sans-serif;
    color: #333333;
    font-size: var(--font-small);
    font-weight: 400;
    line-height: 19px;


}

.card-item__promo {
    font-family: 'Inter', sans-serif;
    color: var(--secondary-solid);
    font-size: var(--font-xsmall);
    font-weight: 700;
    line-height: 15px;
}

.glide__arrow {
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    color: #fff;
    text-transform: uppercase;
    padding: 9px var(--spacing-12);
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 4px;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, .1);
    text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, .1);
    opacity: 1;
    cursor: pointer;
    transition: opacity 150ms ease, border 300ms ease-in-out;
    transform: translateY(-50%);
    line-height: 1;
}

.glide__arrow--left {


    left: 0;
}

.glide__arrow--right {


    right: 0;

}

iconify-icon {
    color: var(--dark-bg-solid);
    font-size: var(--font-small);
    font-weight: 700;
}



.collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 0;
}



.collection__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;
}

.collection__title {
    font-family: Raleway;
    font-size: var(--font-display);
    font-weight: 500;
    line-height: 54px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.collection__text {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    border-bottom: 2px solid var(--primary-solid);
    padding-bottom: var(--spacing-20);
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.collection__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-16) var(--spacing-36);
    border-radius: 50px;
    font-weight: 500;
    transition: background .3s ease-in-out;
}
.submenu__link {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background .3s ease-in-out;
}

.collection__link:hover {
    background-color: var(--primary-900);
}

.collection__link:hover {
    background-color: var(--primary-900);
}

.card-item a {
    text-decoration: none;
    font-family: Inter;
}