/*HEADER Y FOOTER*/
@import url('./style.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

/*MI CODIGO*/
/*LISTA*/
main {
    display: flex;
    justify-content: center;
}

.buscar {
    display: inline-block;
    width: 243.04px;
    height: 493.93px;
    top: 212px;
    /*ver por que es*/
    left: 110px;
}

.buscar_title{

    font-family: var(--base-font);
    font-weight: 500;
    font-size: var(--font-small);
    line-height: 29.05px;
    text-transform: uppercase;

}

.check_order{
    width: 243px;
height: 32px;
top: 368.28px;
left: 110px;
border-radius: 6px;
border: #000000 solid 2px;



}



.buscar_price::-webkit-inner-spin-button,
.buscar_price::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.buscar_price {
    -moz-appearance: textfield; /* Firefox */
    width: var(--spacing-48);
    height: 25px;
    border-radius: 6px;
border: #000000 solid 2px;
}

.min_max{
     font-family: var(--base-font);
    font-weight: 500;
    font-size: var(--font-xxxxsmall);
    line-height: 21.78px;
    text-transform: uppercase;
    color: black; 
}

.buscar_item{
    display: flex;
    
   

}

.check_letter{

    font-family: var(--base-font);
    font-weight: 500;
    font-size: var(--font-xxxsmall);
    line-height: 21.78px;
    text-transform: uppercase;
    padding-left: 7px;
    color: black;

}


.articulos {
    display: inline-block;
    width: 960.03px;
   /* height: 1608px;  tampóco seria necesario ya que si no hay elementos queda un monton de espacio*/
    top: 212px;
    left: 368px;
}



.slider__items {
    display: grid;
    grid-template-columns: repeat(3, 33%);
   /* grid-template-rows: repeat(3, 513px);  verificar si es necesario ya que si no hay elemenetos hace igual 3 filas*/
}

.slider__items li {
    width: 304.01px;
    height: 512px;
}

.card-item__link {
    text-decoration: none;

}

.card-item__cover {
    display: flex;
    position: relative;
    width: 304.1px;

}

.card-item__cover img {
    animation: fade .7s;

}

.card-item__img--back {
    display: none;

}

.card-item__cover:hover .card-item__img--back {
    display: block;


}

.card-item__cover:hover .card-item__img--front {
    display: none;


}


.new {
    display: flex;
    right: 0px;
    position: absolute;
    background: red;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    padding: var(--spacing-8) var(--spacing-12);

}

.card-item__content {
    display: flex;
    gap: 1rem;
    flex-direction: column;

}

.card-item__licence {
    font-family: 'Inter', sans-serif;
    color: #333333;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.card-item__name {
    font-family: 'Inter', sans-serif;
    color: #111111;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;



}

.card-item__price {
    font-family: 'Inter', sans-serif;
    color: #333333;
    font-size: 1rem;
    font-weight: 400;
    line-height: 16px;
}

.card-item__promo {
    font-family: 'Inter', sans-serif;
    color: #1D84B5;
    font-size: 0.7rem;
    font-weight: 700;
    line-height: 12px;
}

main {
    margin: 30px;
}