
  <header class="page-header">

    <nav class="navbar container">
      <picture class="nabvar__logo">
        <a class="navbar__cart" href="../../"><img src="../../img/branding/logo_light_horizontal.svg"
            alt="logo_funko_shop"></a>
      </picture>
      <ul class="navbar__menu">
        <li class="navbar__item with-submenu">
          <a class="navbar__link with-icon" href="/shop">SHOP
            <iconify-icon icon="tabler:chevron-down" style="color: white;"></iconify-icon></a>
          <ul class="submenu">
            <li class="submenu__item">
              <a href="" class="submenu__link">Funkos</a>
            </li>
            <li class="submenu__item">
              <a href="" class="submenu__link">Remeras</a>
            </li>
            <li class="submenu__item">
              <a href="" class="submenu__link">LLaveros</a>
            </li>
          </ul>
        </li>
        <li><a class="navbar__link" href="/Contact" rel="noopener noreferrer">CONTACTO</a></li>
        <li><a class="navbar__link" href="/auth/Login" rel=" noopener noreferrer">LOGIN</a></li>
        <li>
          <a class="navbar__cart" href="/shop/cart" rel="noopener noreferrer"><img
              src="../../img/icons/cart-icon.svg" alt="Carro de compras" /></a>
        </li>
      </ul>
    </nav>
  </header>
