<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
  <link rel="stylesheet" href="../../css/create.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <%-include("../partials/header")%>


  <main class="create container">
    <h3 class="create__title">CREAR NUEVO ITEM</h3>
    <br />
    <form action="#">
      <ul>
        <li class="create__li">
          <label for="cat" class="label__select">Categoria:</label>
          <select name="Seleccionar" id="cat" class="field__select">
            <option value="" disabled selected hidden>Seleccionar</option>
          </select>
          <label for="lic" class="label__select">Licencia:</label>
          <select name="Seleccionar" id="lic" class="field__select">
            <option value="" disabled selected hidden>Seleccionar</option>
          </select>
        </li>
        <br />
        <li class="create__li">
          <label for="prod" class="label__select">Nombre del producto: </label>

          <input type="text" placeholder="Kakashi Hatake Shippuden Saga" class="name__product" />


        </li>

        <li class="create__li">
          <textarea class="description__product" id="" cols="72" rows="8">Descripción del producto </textarea>
        </li>

        <li class="create__li">
          <label for="sku" class="label__select">SKU: </label>
          <input type="text" id="SKU_input" placeholder="SSK111AB001" class="name__product-sku" />
          <label for="precio" class="label__select">Precio: </label>
          <input type="text" id="precio_input" placeholder="$ 0.000,00" class="name__product-sku" />
          <label for="stock" class="label__select">Stock: </label>
          <input type="text" id="stock_input" placeholder="   0   " class="name__product-sku" />
        </li>

        <li class="create__li">
          <label for="desc" class="label__select">Descuento: </label>
          <input type="text" id="desc_input" placeholder="   0%   " class="name__product-sku" />
          <label for="cuotas" class="label__select">Cuotas: </label>
          <select class="field__select" name="cuota" id="cuotas" required>
            <option disabled selected hidden>3 Cuotas sin interes</option>
            <option>3 Cuotas sin interes</option>
            <option>6 Cuotas sin interes</option>
          </select>
        </li>

        <li class="create__li">
          <label for="img" class="label__select">Imagenes: </label>
          <input class="item_arch" type="file" multiple />
        </li>


      </ul>
      <button class="create__btn" onclick="agregarProducto()">Agregar Producto</button>
      <button class="create__btn">Limpiar</button>
      </div>
    </form>
  </main>
  <%-include("../partials/footer")%>
</body>

</html>