<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
</head>

<body>

    <%-include("../partials/header")%>

    <main class="register container">
        <h2 class="register_title">CREA TU CUENTA</h2>

        <p class="register_text">Completa el formulario para ser parte del mundo de los Funkos</p>

        <form class="register_form">
            <ul class="register_items">
                <li class="register_item">
                    <label class="register_label" for="user">Nombre:</label>
                    <input class="register_input" type="text" placeholder="Juanito">
                </li>
                <li class="register_item">
                    <label class="register_label" for="user">Apellido:</label>
                    <input class="register_input" type="text" placeholder="Alvarez">
                </li>
                <li class="register_item">
                    <label class="register_label" for="email">Email:</label>
                    <input class="register_input" type="email" placeholder="juanitoalvarez@correo.com">
                </li>
                <li class="register_item">
                    <label class="register_label" for="password">Contraseña:</label>
                    <input class="register_input" type="password" name="pass" placeholder="●●●●●●●●●">
                </li>
                <li class="register_item">
                    <label class="register_label" for="password">Repita Contraseña:</label>
                    <input class="register_input" type="password" name="pass" placeholder="●●●●●●●●●">
                </li>
                <li class="register_link">
                    <button type="submit" class=" btn btn--primary btn--large">
                        Registrar
                    </button>
                    <div class="link_acept">
                        <input type="checkbox" required />
                        <label for="terminosycondiciones">Acepto <a class="link_term" href="">Términos y
                                Condiciones</a></label>
                    </div>
                </li>
            </ul>
        </form>
    </main>

    <%-include("../partials/footer")%>
</body>

</html>